
.angular-google-map-container { 
    height: 400px; 
}

.icon-contacts{
} 

textarea.form-control {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.text-contacts-small{
     text-align: left;
   /** text-indent: 3em;**/
}

.text-contacts{
     text-align: left;
   /** text-indent: 3em;**/
}