.text{
	 font-size: 22px;
   /** text-indent: 3em;**/
}

.titulo{
	font-size: 36px;
}

.subtitulo{
	font-size: 28px;
}

.servico-text{
    font-size:50;
}

.tecnicas{
	font-size: 20px;
}

.tecnicas-detalhes{
    font-size:17px;
}

.titulo-destaque{
    font-size: 24px;
}

.titulo-conteudo{
	font-size: 24px;
}
.titulo-conteudo-selected{
    font-size: 24px;
}

.referencia{
    font-size: 18px;
}

.sabermais-conteudo{
    float: right;
    height: 40px;
    padding-bottom: 5px;
}

.icon-contacts{
    height:30px;
} 


.text-contacts-small{
     font-size: 16px;
   /** text-indent: 3em;**/
}

.text-contacts{
     font-size: 22px;
   /** text-indent: 3em;**/
}