.text{
	 font-size: 22px;
   /** text-indent: 3em;**/
}

@media screen and (min-width: 991px) {
 
	.page-collumn-vcentered{
		display: -ms-flex; 
		display: -webkit-flex; 
		display: flex;
	}

	.page-collumn-vcentered>div{ 
		flex:1; 
	}

	.page-collumn-vcentered>div>p{ 
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		right: 0;
		left: 0;
	}

}


.text-centered{
	 font-size: 22px;
   /** text-indent: 3em;**/
}

.section{
	margin-top:15px;
}

.titulo{
	font-size: 72px;
	letter-spacing:5px;
}

.subtitulo{
	font-size: 50px;
	letter-spacing:3px;
	padding-top:50px;
}

.titulo-home{
	font-size: 40px;
	padding-top:40px;
    margin-bottom:30px;
}

.titulo-servicos{
	font-size: 60px;
	padding-top:40px;
    margin-bottom:30px;
}

#left-col{
	padding-left:20px;
}

#right-col{
	padding-right:20px;
}

.servico-text{
    font-size:50;
}

.box-servico{
	height:300px;
}


.box-servico-hover{
   height: 300px;
}

.box-servico-nothover{
   height: 300px;
}

.servico-video-hover{
	overflow:hidden;
	height: 280px;
    margin-top: 10px;
    margin-right: 10px;
}

.servico-video-nohover{
	overflow:hidden;
	height: 0px;
}

.tecnicas{
	font-size: 24px;
}

.tecnica-detalhe{
    font-size:18px;
	line-height: 20px;
}

.titulo-destaque{
    font-size: 24px;
}

.resumo-destaque{
	font-size: 18px;
}

.titulo-conteudo{
	font-size: 24px;
}

.resumo-conteudo{
	font-size: 18px;
}

.titulo-conteudo-selected{
    font-size: 24px;
}

.referencia{
    font-size: 18px;
}

.sabermais-conteudo{
    float: right;
    height: 40px;
    padding-bottom: 5px;
}

.icon-contacts{
    height:30px;
} 

.mensagem-contacto{
	font-size: 40px;
}
.close{ 
	margin-right:10px;
	margin-top:10px;
}

.image-close{ 
    height:150px; 
	width:150px; 
}

.text-contacts-small{
     font-size: 16px;
   /** text-indent: 3em;**/
}

.text-contacts{
     font-size: 22px;
   /** text-indent: 3em;**/
}

.itemcv-nome{
	font-size:28px;
}

.itemcv-basico{
	font-size:24px;
}
	
.cv-field{
    padding-top:20px;
    padding-bottom:10px;
	letter-spacing: 3px;
}

.cv-content{
	
}


.arrow-container {
	width: 30px;
    height: 80px;
}



/*footer*/
.standard-h4title{
    font-size: 22px;
}

.footer{
	 font-size: 18px;
}

.footer li{
    line-height: 25px;
}

.line3{
    border-bottom: 2px solid rgba(247,143,30,1);
    display: block;
    margin: 0px 20px 15px;
    padding-bottom: 5px;
}


#footer-container{
    padding-top: 10px;
}

/*Navbar*/
.main {
	padding-top: 70px;
}

.navbar{
		margin-bottom: -70px;
}

.navbar-default .navbar-brand{
    font-size:30px;
    padding-top:40px;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    font-size:28px;
    padding-top:40px;
}

.navbar-toggle {
    margin-top:20px;
}

.r-navabar{

}

.navbar-default .navbar-nav > li > a{
    font-size:17px;
    height: 70px;
    line-height: 70px; /* <-- this is what you must define */
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    font-size:18px;
    color:white;
    line-height: 70px; /* <-- this is what you must define */
}

.navbar-default .navbar-nav{
     height: 70px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
     height: 70px;
}

nav .container {
    height: 70px;

}

nav ul li:hover > ul{
    width: 220px;
}

nav ul li:hover > ul a{
    width: 220px;
}

nav ul li:hover > ul a{
	font-size:16px;
}