.footer {
    display: block;
    box-sizing: border-box;
    margin-bottom: 0px;
    border-top: 3px solid #333;
    background: linear-gradient(
      rgba(51, 51, 51, 0.85), 
      rgba(51, 51, 51, 0.60)
    ), url("../img/backgrounds/b45.png") ;  
}

#footer-container{
    width: 100%;
}

.footer li a{ color:   #f4f4f4;}

.footer ul{
    list-style: none;
    margin-left: 9%;
    padding: 0;
}

li{
    display: list-item;
}


.standard-h4title{
    text-transform: uppercase;
    text-align: left;
    color: #f4f4f4;
}
