@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

html, body{
    height: 100%;
}

html{
    min-height: 100%;    
}

body{
    margin: 0;
    font-family: lato;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.header {
    vertical-align: center;
   
}

.header-img {
    vertical-align: middle;
    width: 100%;
}


.main {
    padding-top: 70px;
    padding-bottom: 0;
    max-width: 2000px;
    width: 100%;
    min-height: 600px;
    background:  url("../img/backgrounds/b45.png");
  
}


footer{
    
    z-index: 1000;
    position:relative;/*se nao estiver isto o footer fica por trás do header**/
}


.img-centered-div  { display: -ms-flex; display: -webkit-flex; display: flex; }
.img-centered-div >div { flex:1;}
.img-centered{
    width:100%;
}

    
.no-paddings{
    
    padding:0;
    margin:0;
    border:0px;
}

.img-circle {
    margin:5%;
    width:90%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.page-collumn{
     
    margin-bottom:20px;
    margin-top:20px;
    text-align: center;
    vertical-align: middle;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    
}

.page-collumn-special{

   display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}

.page-cell{
    display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
}

.two-col { 
    -moz-column-count: 2; 
    -moz-column-gap: 3em; 
    -webkit-column-count: 2; 
    -webkit-column-gap: 4em; 
}

.three-col { 
    -moz-column-count: 3; 
    -moz-column-gap: 2em; 
    -webkit-column-count: 3; 
    -webkit-column-gap: 4em; 
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/**must be bellow .page-collumn**/
.titulo{
    color:orange;
    font-family: lato-regular;
    width: 95%;
    padding-top:10px;
    padding-bottom:20px;
    padding-left:5%;
    text-align: left;
}

.text{
     text-align: justify;
   /** text-indent: 3em;**/
}

.text-centered{
    display: flex;
    justify-content: center; 
    flex-direction: column;
}


/**must be bellow .page-collumn**/
.subtitulo{
    color:orange;
    width: 95%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:5%;
	text-align:left;
}

/**must be bellow .page-collumn**/
.image-big{
    border: 0px solid green;
    /*width:116.6666%;
    margin-left:-11.1111%;*/    
    width:100%;
}



/****
ANIMATES
****/
.custom-enter, .custom-leave, .custom-move { 
    -webkit-transition: 1s linear all; 
    -moz-transition: 1s linear all; 
    -o-transition: 1s linear all; 
    transition: 1s linear all; 
    position:relative;
} 

.custom-enter { left:-100px; opacity:0; } 
.custom-enter.custom-enter-active { left:0; opacity:0; } 
.custom-leave { left:0; opacity:1; } 
.custom-leave.custom-leave-active { left:-100px; opacity:1; } 
.custom-move { opacity:0.5; } 
.custom-move.custom-move-active { opacity:1; }







/****
NAVBAR
****/

.navbar,
.main {
  position: relative; 
}

.navbar{
 background: #fff;
  z-index: 150;
  margin-bottom: -70px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
    
}

.navbar-no-header{
 background: #fff;
  z-index: 150;
  margin-bottom: 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
    
}

header,
.navbar-scrolled {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}


.navbar-default .navbar-brand{
    font-size:30px;
    padding-top:40px;
}

.navbar-collapse{
    background: #fff;   
    border-top: 0px solid transparent;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse.in {
 overflow-y: visible;
}


.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: orange;
    font-size:28px;
    padding-top:40px;
}

.navbar-toggle {
    margin-top:20px;
}
.r-navabar{
    font-size: 30px;
    color:orange;
    float:left;
    display:inline-block;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a{
    font-size:17px;
    height: 70px;
    line-height: 70px; /* <-- this is what you must define */
    vertical-align: middle;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover{
    font-size:18px;
    color:white;
    line-height: 70px; /* <-- this is what you must define */
    vertical-align: middle;

}
.navbar-default .navbar-nav{
     height: 70px;
    
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
    background: #FFA500;
    color:white; 
     height: 70px;
    border:0px;
}
    
nav .container {
    height: 70px;

}

.navbar-right .dropdown-menu {
 left: 0;
    
}

nav ul li{
    float: left;
}

nav ul li:hover > ul{
    display: block;
    width: 220px;
    background-color: #f4f4f4;
}

nav ul li:hover > ul a{
    display: block;
    width: 220px;
    background-color: transparent;
    font-size:16px;
}

.dropdown-menu > li > a:focus{
	 color:9d9d9d;
}

nav .active{
    background-color: orange;
}

nav ul li:hover > ul li a, nav ul li:active > ul a{
    color:9d9d9d;
}

nav ul li:hover > ul li a, nav ul li:active > ul a{
    color:9d9d9d;
}

nav ul li:hover > ul li:hover > a{
    background-color: orange;
    color:white;
    width: 218px;    
}


.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    background-color: orange;
}


