.text{
	 font-size: 44px;
   /** text-indent: 3em;**/
}

.titulo{
	font-size: 72px;
}

.subtitulo{
	font-size: 64px;
}

.servico-text{
    font-size:50;
}

.tecnicas{
	font-size: 45px;
}

.tecnicas-detalhes{
	font-size:38px;
}

.titulo-destaque{
	font-size: 48px;
}

.referencia{
    font-size: 44px;
}
.titulo-conteudo{
	font-size: 50px;
}
.titulo-conteudo-selected{
    font-size: 50px;
}

.image-person{
	display:none;
}


.sabermais-conteudo{
    float: right;
    height: 80px;
    padding-bottom: 10px;
}

.icon-contacts{
    height:60px;
} 

.text-contacts-small{
     font-size: 44px;
   /** text-indent: 3em;**/
}

.text-contacts{
     font-size: 32px;
   /** text-indent: 3em;**/
}