.circle {
    width:100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E0E0E0;
}

.testemunhos-pequenos{
    display: flex;
    align-items: center;
    border-left: 4px solid orange;
    float:left;
    overflow:hidden;
    height: auto;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:10px;
}
.testemunhos-pqeuenos-texto{
    height:100%;
    display:inline;
    float:left;
    
    
}
.testemunhos-pequenos-foto{
    max-width: 120px;
    display:inline;
    float:left;
}

.testemunhos-foto-grande{
    max-height: 180px;
    position: relative;
    margin: auto;
}


/******
QUTOTES
******/
blockquote {
    border-left: 0px solid orange;
 text-align: justify;
 text-justify: inter-word;    
 font-style: italic;    
 margin: 0.25em 0px;
 padding: 0.25em 40px;
 quotes: "\201C";
 position: relative;
 color: #383838;
 font-size: 14px;
 font-family: Georgia,serif;
 line-height: 1.45;
}

blockquote:before {
 display: block;
 content:"\201C";
 font-size: 80px;
 position:absolute;
 color: orange;
 left: -5px;
 top: -30px;

}
blockquote p {
 display: inline;
}

cite{
    color #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    
    
}
cite:before{
    content:  "\2014\2009";
}