 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td colspan="2" class="titulo">Fisioterapia no Desporto</td>
        </tr>
        <tr>
            <td colspan="2" class="texto">
                <div class="text">
                    <ul>
                        <li>Avaliação de pré-época / Screening de atletas. Programa de prevenção de lesões e gestão do risco de lesão. Aconselhamento de atletas, treinadores e preparadores físicos.</li>
                        <li>Avaliação e tratamento de lesões especificas da prática desportiva.</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>