 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Fisioterapia Musculo-esquelética 
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    <ul>
                        <li>Disfunções da coluna vertebral</li>
                        <li>Altgierações posturais (exemplo: hipercifose dorsal, hiperlordose lombar, rectificação lombar, horizontalização do sacro, escolioses) e/ ou dores na coluna vertebral</li>
                        <li>Torcicolos congénitos (crianças)Lesões cápsulo-ligamentares e articulares (anca, joelho, tornozelo/pé, ombro, cotovelo e ante-braço, punho e mão)</li>
                        <li>Lesões cápsulo-ligamentares e articulares (anca, joelho, tornozelo/pé, ombro, cotovelo e ante-braço, punho e mão)</li>
                        <li>Lesões musculo-tendinosas; Lesões agudas, sub-agudas e crónicas</li>
                        <li>Fisioterapia pós- fracturas e outras lesões osteo-articulares</li>
                        <li>Fisioterapia pós cirurgias ortopédicas (ex. cirurgia aos meniscos e/ou ligamentos do joelho, prótese da anca, prótese do joelho; cirurgias reparadoras do ombro) 
    </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>