 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <div class="titulo page-collumn">
                    Fisioterapia nas Alteração Posturais
                </div>
            </td>
        </tr> 
        <tr>
            <td colspan="2" class="texto">
                <div class="text page-collumn">
                    <ul>
                        <li>Não há conteudo</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>