 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Saúde da Criança
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    <ul>
                        <li>Avaliação e intervenção nos desvios e perturbações do desenvolvimento da criança</li>
                        <li>Fisioterapia em condições neuro-musculo-esqueléticas das crianças (exemplos: torcicolo congénito,  Lesões do plexo braquial,  status pós-fracturas e traumatismos)</li>
                        <li>Fisioterapia em condições respiratórias das crianças – Fisioterapia respiratória pediátrica</li>
                        <li>Massagem do bébé</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>