 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td colspan="2" class="titulo">Saúde do Idoso</td>
        </tr>
        <tr>
            <td colspan="2" class="texto">
                <div class="text">
                    <ul>
                        <li>Programas de exercícios de mobilidade funcional global, treino de equilibrio e prevenção de quedas</li>
                        <li>Aconselhamento e promoção da autonomia na marcha e actividades funcionais</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>