 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Saúde da Mulher
                </div>  
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    <ul>
                        <li>https://pt-pt.facebook.com/fatima.sancho.9</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>