 <link rel="stylesheet" href="css/servicos.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Fisioterapia Neuro-muscular
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    <ul>
                        <li>Não há conteudo</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>