 <link rel="stylesheet" href="css/servicos.css">
 <link rel="stylesheet" href="css/main.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Fisioterapia no Desporto
                </div>    
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    <ul>
                        <li>Avaliação de pré-época / Screening de atletas. Programa de prevenção de lesões e gestão do risco de lesão. Aconselhamento de atletas, treinadores e preparadores físicos.</li>
                        <li>Avaliação e tratamento de lesões especificas da prática desportiva.</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
<div>