 <link rel="stylesheet" href="css/conteudos.css">
<table style="width:100%">
    <tr>
        <td>
            <div class="titulo page-collumn">
                {{ titulo }}
            </div>

        </td>
    </tr> 
    
    
   
<div ng-repeat="product in productList">
     <div ng-if="$index % 3 === 0" 
         ng-init="group = productList.slice($index, $index + 3)">
        <div class="products-row">
             <div class="product-tile" ng-repeat="grItem in group">
             {{grItem}}
             </div>
         </div>
    </div>
</div>
    

    <tr>
        <td>
            <div class="row page-collumn equipa-nav">
                <div class="col-md-6  col-sm-12 col-xs-12">
                    <div ng-repeat="c in conteudo" class="conteudo thumbnail">
                        <div ng-click="showMore($index)" class="row">
                            <div class="titulo-conteudo col-md-12 col-sm-12 col-xs-12">
                                {{c.titulo}}
                            </div>
                            <img class="img-conteudo col-md-4 col-sm-42 col-xs-4" ng-src="{{ c.img[0].path }}"></img>  
                            <div class="resumo-conteudo text col-md-8 col-sm-8 col-xs-8">
                                {{c.resumo}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6  col-sm-12 col-xs-12">
                    <div ng-repeat="c in conteudo" class="conteudo thumbnail">
                        <div ng-click="showMore($index)" class="row">
                            <div class="titulo-conteudo col-md-12 col-sm-12 col-xs-12">
                                {{c.titulo}}
                            </div>
                            <img class="img-conteudo col-md-4 col-sm-42 col-xs-4" ng-src="{{ c.img[0].path }}"></img>  
                            <div class="resumo-conteudo text col-md-8 col-sm-8 col-xs-8">
                                {{c.resumo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </td>
    </tr> 
</table>

<div class="conteudo-todo-shadow" ng-hide="contentSelected == -1">
    <div class="close" ng-click="showNoMore()"><img src="img/icons/close.png" ></div>
    <div class="conteudo-todo">
        <div class="titulo-conteudo-selected col-md-12 col-sm-12 col-xs-12">
            {{ conteudo[contentSelected].titulo }}
        </div>
        <img class="img-conteudo-selected col-md-4 col-sm-42 col-xs-4" ng-src="{{ conteudo[contentSelected].img[0].path }}"></img>  
        <div class="text col-md-8 col-sm-8 col-xs-8">
            {{ conteudo[contentSelected].texto}}
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" class="video-container" ng-show="conteudo[contentSelected].video.length > 0">
            <!--
            <video width="320" height="240"  
                   ng-show="conteudo[contentSelected].video[0].type=='video'"     
                   controls>
                 <source ng-src="conteudo[contentSelected].video[0].url" tyxpe="video/mp4">
                 <source ng-src="conteudo[contentSelected].video[0].url" type="video/ogg">
             Your browser does not support the video tag.
            </video>
            <iframe width="320" height="240" 
                    ng-src="{{ sce.trustAsResourceUrl(conteudo[contentSelected].video[0].url) }}" 
            </iframe>
             <iframe width="480" height="360" 
                     style="display:block;margin: 0 auto;"
                    ng-src="{{ sce.trustAsResourceUrl(conteudo[contentSelected].video[0].url) }}" 
            </iframe>
            -->
            <video width="480" height="360" style="display:block;margin: 0 auto;" type="video/webm" controls controls="controls" name="Video Name" src="videos/small.webm">
            </viddeo>
            <video width="480" height="360" style="display:block;margin: 0 auto;" type="video/webm" controls controls="controls" name="Video Name" ng-src="{{ conteudo[contentSelected].video[0].url | trustUrl}}">
            </viddeo>
        </div>
    <!--
        <a class="arrow next" ng-click="showNext()"></a>
        <a class="arrow previous" ng-click="showPrevious()"></a>
    -->
    </div>
</div>

