<link rel="stylesheet" href="css/equipa.css">

<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Equipa
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="page-collumn page-collumn-special">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img class="image-big" src="img/equipa/groupPhoto.jpg" alt="foto de grupo"s>
                    </div>
                    <div class="page-cell col-md-6 col-sm-12 col-xs-12">
                        <div class="text text-centered">
                       Gabinete privádo de serviços de Fisioterapia e de Saúde. A área da Fisioterapia actua em em condições orto-traumatológicatras e em lesões desportivas, em problemas da coluna vertebral, em Pediatria e na Saúde da Mulher (preparação de pré-parto, pós-parto, incontinência urinária feminina e masculina), assim como na Geriatria (programas de prevenção de quedas e de mobilidade global), contando ainda com o serviço de Fisioterapia ao domícilio. Há ainda a colaboração com outros profissionais, Nutricionista, de modo a garantir aos utentes uma valência vasta e dirigida às suas necessidades específicas.
                        </div>
                    </div>    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Equipa de Fisioterapia
                </div>
            
            </td>
        </tr>
        <tr>
            <td>
                <div class="row page-collumn equipa-nav">
                    <div ng-repeat-start="t in equipa" class="col-md-3 col-sm-3 col-xs-3 " ng-if="$index % 2 === 0" ng-init="group = equipa.slice($index, $index + 2)" ng-repeat-end>
                         <div class="row">
                            <div ng-repeat="terapeuta in group" class="col-md-6 col-sm-12 col-xs-12" ng-animate="custom">
                                <img 
                                class="img-circle imgSmall" 
                                ng-class="{ 'hover': terapeuta.id == terapeutaHover, 'selected': terapeuta.id == terapeutaSelected }" 
                                ng-click="changeTerapeuta(terapeuta.id);" 
                                ng-mouseover="hoverTerapeuta(terapeuta.id);" 
                                ng-mouseleave="undoHoverTerapeuta(terapeyuta.id)" 
                                ng-src="{{ terapeuta.mainImg[0].path }}">
                                </img>
								<div class="text">
									{{terapeuta.nome}}
								</div>
                            </div>
                         </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row page-collumn">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <img src="img/icons/sabermais.png" class="sabermais-conteudo" ng-click="fullCV = true" ng-show="!fullCV"}}>        
                        <img src="img/icons/sabermenos.png" class="sabermais-conteudo" ng-click="fullCV = false"  ng-show="fullCV"}}>
                        <span ng-show="fullCV == false">
                            <div class='subtitulo' ><strong>{{ terapeutaMain.nome }}</strong></div>
                            <br>
                            <span>
                                <div class="text" ng-bind-html="terapeutaMain.resumo"></div>
                            </span>
                        </span>
                        <span ng-repeat="f in terapeutaMain.cv" class='itemcv-basico' ng-show="fullCV == true">
                            <div><strong>{{ f.field }}</strong></div>
                            <br>
                            <span ng-repeat="c in f.content" >
                                <div>{{ c }}</div>
                            </span>
                            
                        </span>
                    </div>
                    <div class="images image-person col-xs-12 col-sm-12 col-md-4" ng-controller="PhotoSliderController">
                        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage "
                             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.path}}" style="padding:0 auto">

                        <a class="arrow prev" ng-click="nextSlide()"></a>
                        <a class="arrow next" ng-click="prevSlide()"></a>
                        <nav class="nav-photo-slider">
                            <div class="wrapper">   
                                <div class="dots">
                                    <div class="dot" ng-repeat="slide in slides">
                                        <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                           ng-click="setCurrentSlideIndex($index);">{{slide.descricao}}</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </td> 
        </tr>
    </table>
</div>

