<link rel="stylesheet" href="css/home.css">
<div>
    <table style="width:100%">
        
        <tr>
            <td>
                <div class="page-collumn row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="titulo-home"><strong>O que é a Fisioterapia</strong></div>
                        <div class="quemsomos-section">
                            <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>
                            <div class="text">
                                <p>
                              A Fisioterapia "centra-se na análise e avaliação do movimento e da postura, baseadas na estrutura e função do corpo; utilizando modalidades educativas e terapêuticas específicas, com base, essencialmente, no movimento, nas terapias manipulativas, e em meios físicos naturais, com a finalidade de promoção da saúde e prevenção da doença, da deficiência, da incapacidade e da inadaptação, e de tratar, habilitar ou reabilitar utentes/clientes com disfunções de natureza física, mental, de desenvolvimento ou outras, incluindo a dor, com o objectivo de os ajudar a atingir a máxima funcionalidade e qualidade de vida." 
                                </p>
                                <p class="referencia">
    <strong>Ministério da Saúde (Decreto-Lei nº 261/93, de 24 de Julho)</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="titulo-home"><strong>Destaques</strong></div>
                        <div class="quemsomos-section">
                           <!-- <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>-->
                            <div class="text">
                                  <p>
    Promover a prestação de serviços de Fisioterapia com a melhor qualidade, de forma personalizada e humana para optimizar a intervenção nas suas diferentes componentes relacionadas com a prevenção, aconselhamento, avaliação, tratamento e/ou reabilitação funcional das pessoas.
                                    </p>
                                    <p>
    Garantir a excelência dos nossos serviços através de uma intervenção responsável e autónoma, baseada nas melhores práticas clínicas actuais da Fisioterapia.
                                    </p>
                                    <p>
    Fomentar a investigação clínica aplicada, em parceria com centros de investigação científica nacionais e internacionais.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="page-collumn row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        
                        <div class="page-collumn">
                            <div class="titulo-home"><strong>Quem Somos</strong></div>
                        </div>                
                            <div>
                                <img class="img-centered" src="img/equipa/groupPhoto.jpg" alt="foto de grupo">
                            </div>
                            <div class="text">
                                <p></p>
                                <p>
            Somos uma equipa de profissionais de saúde especializados e de referência no sector privado na prestação de serviços de Fisioterapia e de Saúde. Trabalhamos em diversas áreas como:
                                    <ul style="list-style-type:none"> 
                                        <li>Condições Neuro-músculo-esqueléticas,</li>
                                        <li>Lesões desportivas,</li>
                                        <li>Pediatria,</li>
                                        <li>Saúde da Mulher (preparação de pré-parto, pós-parto, incontinência urinária feminina e masculina),</li>
                                        <li>Geriatria (programas de prevenção de quedas e de mobilidade global),</li>
                                        <li>Serviço ao Domicílio.</li>
                                    </ul>
                                </p>
                                <p>
            Esta equipa tem a colaboração de profissionais de saúde na área da nutrição, garantindo aos utentes uma vasta valência e dirigida às necessidades específicas de cada indivíduo.
                                </p>
                            </div>
                    </div> 
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="titulo-home"><strong>Missão</strong></div>
                        <div class="quemsomos-section">
                           <!-- <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>-->
                            <div class="text">
                                  <p>
    Promover a prestação de serviços de Fisioterapia com a melhor qualidade, de forma personalizada e humana para optimizar a intervenção nas suas diferentes componentes relacionadas com a prevenção, aconselhamento, avaliação, tratamento e/ou reabilitação funcional das pessoas.
                                    </p>
                                    <p>
    Garantir a excelência dos nossos serviços através de uma intervenção responsável e autónoma, baseada nas melhores práticas clínicas actuais da Fisioterapia.
                                    </p>
                                    <p>
    Fomentar a investigação clínica aplicada, em parceria com centros de investigação científica nacionais e internacionais.
                                    </p>
                            </div>
                        </div>
                         <div class="titulo-home"><strong>Valores</strong></div>
                        <div class="quemsomos-section">
                           <!-- <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>-->
                            <div class="text">
                                    <p>Humanização e personalização dos cuidados</br>
                                    <p>Respeito integral pelo direitos de cada utente</br>
                                    <p>Fazer em cada momento o nosso melhor e promover uma actualização constante de forma a garantir os melhores e mais actuais padrões de prática – Qualidade dos cuidados</br>
                                    <p>Tratar e lidar com a pessoa como gostariamos que lidassem connosco</br>
                            </div>
                        </div>
                    </div>
                </div> 
            </td>
        
        <tr>
            <td>
                <div class="page-collumn">
                    <div class="titulo-home"><strong>Serviços</strong></div>
                </div>
            <td>
        </tr>
         
        <tr>
            <td>
                <div id="box-servicos" ng-mouseleave="unhoverServicos()" class="page-collumn">
                    <div class="box-servico box-servico1 transicao" ng-class="{ 'box-servico-hover': servicoHover == 1, 'box-servico-nothover': servicoHover != 1 && servicoHover != 0 }" ng-mouseover="hoverServico(1);" ng-mouseleave="s"  ng-click="hoverServico(1);">
                        <div class="transicao servico-text" ng-class="{ 'servico-text-hover': servicoHover == 1, 'servico-video-nothover': servicoHover != 1 && servicoHover != 0 }">
                            Músculo<br>-<br>Esquelética
                        </div>
                        <div class="transicao" ng-class="{ 'servico-video-hover': servicoHover == 1, 'servico-video-nothover': servicoHover != 1 && servicoHover != 0 }" href="#/musculo-esqueletica">
                        </div>
                    </div>
                    <div class="box-servico box-servico2 transicao" ng-class="{ 'box-servico-hover': servicoHover == 2, 'box-servico-nothover': servicoHover != 2 && servicoHover != 0 }" ng-mouseover="hoverServico(2);" ng-mouseleave="unhoverServico(1)" ng-click="hoverServico(2);">
                        <div class="transicao servico-text" ng-class="{ 'servico-text-hover': servicoHover == 2, 'servico-video-nothover': servicoHover != 2 && servicoHover != 0 }">
                            Ft. <br>no <br>Desporto
                        </div>
                         <div class="transicao" ng-class="{ 'servico-video-hover': servicoHover == 2, 'servico-video-nothover': servicoHover != 2 && servicoHover != 0 }" ui-sref="desporto">
                        </div>
                    </div>
                    <div class="box-servico box-servico3 transicao" ng-mouseleave="unhoverServico(2)" ng-class="{ 'box-servico-hover': servicoHover == 3, 'box-servico-nothover': servicoHover != 3 && servicoHover != 0 }" ng-mouseover="hoverServico(3);" ng-click="hoverServico(3);">
                         <div class="transicao servico-text" ng-class="{ 'servico-text-hover': servicoHover == 3, 'servico-video-nothover': servicoHover != 13&& servicoHover != 0 }">
                            Saúde<br> da<br> Mulher
                        </div>
                        <div class="transicao" ng-class="{ 'servico-video-hover': servicoHover == 3, 'servico-video-nothover': servicoHover != 3 && servicoHover != 0 }" ui-sref="saudeMulher">
                        </div>
                    </div>
                    <div class="box-servico box-servico4 transicao" ng-mouseleave="unhoverServico(3)" ng-class="{ 'box-servico-hover': servicoHover == 4, 'box-servico-nothover': servicoHover != 4 && servicoHover != 0 }" ng-mouseover="hoverServico(4);"  ng-click="hoverServico(4);">
                         <div class="transicao servico-text" ng-class="{ 'servico-text-hover': servicoHover == 4, 'servico-video-nothover': servicoHover != 4 && servicoHover != 0 }">
                            Saúde<br> da<br> Criança
                        </div>
                         <div class="transicao" ng-class="{ 'servico-video-hover': servicoHover == 4, 'servico-video-nothover': servicoHover != 4 && servicoHover != 0 }" ui-sref="saudeCrianca">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    O nosso modelo de prática em Fisioterapia abrange diferentes formas de intervenção e é baseado no “estado da arte” mais actual da ciência relacionada com o movimento humano e suas disfunções:
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="page-collumn row tecnicas-row">
                            <div ng-repeat="tec in tecnicas" 
                                 class="tecnicas col-md-6 col-sm-12 col-xs-12" 
                                 ng-animate="custom">
                                <div class="row">
                                    <div ng-click="show2 = !show2" class="tecnica-main">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                               <img class="img-circle imgSmall" ng-src="{{ tec.img[0].path }}"/>
                                            </div>
                                            <div  class="col-md-9 col-sm-9 col-xs-9" class="tecnica-nome">
                                                {{ tec.nome }}
                                            </div>
                                    </div>
                                    <div class="tecnicas-detalhes col-md-12 col-sm-12 col-xs-12" 
                                         ng-init="(show2 = false)" 
                                         ng-show="show2  && (tec.detalhes != '')"> 
                                        <ul style="list-style-type:none;">
                                            <li ng-repeat="d in tec.detalhes" class="tecnica-detalhe">
                                                {{ d.detalhe }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>                    
                </div>
            </td>
        </tr>
        
        
        <tr>
            <td>
                 <div class="map-container">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
                        <ui-gmap-marker coords="marker.coord" icon="map.icon" idKey="1">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </td>
        </tr>
    </table>
<div>