<link rel="stylesheet" href="css/home.css">
<div>
    <table style="width:100%">
        
        <tr>
            <td>
                <div class="page-collumn">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="titulo-home"><strong>O que é a Fisioterapia</strong></div>
                        <div class="quemsomos-section">
                            <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>
                            <div class="quemsomos-text text">
                                <div>
                              A Fisioterapia "centra-se na análise e avaliação do movimento e da postura, baseadas na estrutura e função do corpo; utilizando modalidades educativas e terapêuticas específicas, com base, essencialmente, no movimento, nas terapias manipulativas, e em meios físicos naturais, com a finalidade de promoção da saúde e prevenção da doença, da deficiência, da incapacidade e da inadaptação, e de tratar, habilitar ou reabilitar utentes/clientes com disfunções de natureza física, mental, de desenvolvimento ou outras, incluindo a dor, com o objectivo de os ajudar a atingir a máxima funcionalidade e qualidade de vida." 
                                </div>
                                <div class="referencia">
    <strong>Ministério da Saúde (Decreto-Lei nº 261/93, de 24 de Julho)</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="titulo-home"><strong>Missão</strong></div>
                        <div class="quemsomos-section">
                           <!-- <div class="quemsomos-img" style="vertical-align: middle;">
                                <img src="img/icons/fisioterapia.png">
                            </div>-->
                            <div class="quemsomos-text text">
                                <p>
                                Pretendemos centrar a nossa intervenção – prevenção, aconselhamento, avaliação, tratamento e/ou reabilitação funcional – nas necessidades de saúde das pessoas no âmbito da Fisioterapia, procurando prestar serviços de qualidade, personalizados e humanizados.
                                </p>
                                <p>
        Gostamos de estar sempre actualizados e queremos evoluir de forma a poder integrar na nossa intervenção, as melhores “práticas” de Fisioterapia assentes na investigação mais recente.
                                </p>
                                <p>
        Pretendemos ainda promover a investigação clinica aplicada em parceria com centros de investigação universitária nacionais e internacionais.
        Temos uma equipa de Fisioterapeutas especializados em diversas áreas para intervir desde o recém-nascido e a criança ao indivíduo sénior, passando por grupos específicos como bailarinos, atletas/desportistas quer de competição quer de lazer e mulheres grávidas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        
         
        
        <tr>
            <td>
                <div class="page-collumn">
                    <div class="titulo-home"><strong>Quem Somos</strong></div>
                </div>                
            </td>
        </tr> 
         <tr>
            <td>
                <div class="page-collumn row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img class="image-big" src="img/equipa/groupPhoto.jpg" alt="foto de grupo">
                    </div>
                    <div class="text col-md-6 col-sm-12 col-xs-12">
                   Gabinete privádo de serviços de Fisioterapia e de Saúde. A área da Fisioterapia actua em em condições orto-traumatológicatras e em lesões desportivas, em problemas da coluna vertebral, em Pediatria e na Saúde da Mulher (preparação de pré-parto, pós-parto, incontinência urinária feminina e masculina), assim como na Geriatria (programas de prevenção de quedas e de mobilidade global), contando ainda com o serviço de Fisioterapia ao domícilio. Há ainda a colaboração com outros profissionais, Nutricionista, de modo a garantir aos utentes uma valência vasta e dirigida às suas necessidades específicas.
                    </div>
                </div>    
            </td>
        
        <tr>
            <td>
                <div class="page-collumn">
                    <div class="titulo-home"><strong>Serviços</strong></div>
                </div>
            <td>
        </tr>
         
        <tr>
            <td>
                <div id="box-servicos" ng-mouseleave="unhoverServicos()" class="page-collumn">
                    <div class="box-servico transicao" ng-class="{ 'box-servico-hover': servicoHover == 1, 'box-servico-nothover': servicoHover != 1 && servicoHover != 0 }" ng-mouseover="hoverServico(1);" ng-mouseleave="unhoverServico(0)" style="background-image: url('./img/servicos/servico1.jpg');" ng-click="hoverServico(1);">
                        <div class="text">
                            Músculo-Esquelética
                        </div>
                        <div class="close" ng-if="showMoreFlag[0]">
                            <img ui-sref="musculoEsqueletica" src="img/icons/sabermais.png" class="go-to-service">
                        </div>
                    </div>
                    <div class="box-servico transicao" ng-class="{ 'box-servico-hover': servicoHover == 2, 'box-servico-nothover': servicoHover != 2 && servicoHover != 0 }" ng-mouseover="hoverServico(2);" ng-mouseleave="unhoverServico(1)" style="background-image: url('./img/servicos/servico1.jpg');" ng-click="hoverServico(2);">
                        <div class="text">
                            Ft. no Desporto
                        </div>
                        <div class="close" ng-if="showMoreFlag[1]">
                            <img ui-sref="desporto" src="img/icons/sabermais.png" class="go-to-service">
                        </div>
                    </div>
                    <div class="box-servico transicao" ng-mouseleave="unhoverServico(2)" ng-class="{ 'box-servico-hover': servicoHover == 3, 'box-servico-nothover': servicoHover != 3 && servicoHover != 0 }" ng-mouseover="hoverServico(3);" style="background-image: url('./img/servicos/servico1.jpg');" ng-click="hoverServico(3);">
                        <div class="text">
                            Saúde da Mulher
                        </div>
                        <div class="close" ng-if="showMoreFlag[2]">
                            <img ui-sref="saudeMulher" src="img/icons/sabermais.png" class="go-to-service">
                        </div>
                    </div>
                    <div class="box-servico transicao" ng-mouseleave="unhoverServico(3)" ng-class="{ 'box-servico-hover': servicoHover == 4, 'box-servico-nothover': servicoHover != 4 && servicoHover != 0 }" ng-mouseover="hoverServico(4);" style="background-image: url('./img/servicos/servico1.jpg');" ng-click="hoverServico(4);">
                        <div class="text">
                            Saúde da Criança
                        </div>
                        <div class="close" ng-if="showMoreFlag[3]">
                            <img ui-sref="saudeCrianca" src="img/icons/sabermais.png" class="go-to-service">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn">
                    O nosso modelo de prática em Fisioterapia abrange diferentes formas de intervenção e é baseado no “estado da arte” mais actual da ciência relacionada com o movimento humano e suas disfunções:
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="page-collumn row tecnicas-row">
                    <div class="page-collumn row tecnicas-row">
                        
                                    <div ng-repeat="tec in tecnicas" 
                                         class="tecnicas col-md-6 col-sm-12 col-xs-12" 
                                         ng-animate="custom">
                                        <div class="row">
                                            <div ng-click="show2 = !show2" class="tecnica-main">
                                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                                       <img class="img-circle imgSmall" ng-src="{{ tec.foto }}"/>
                                                    </div>
                                                    <div  class="col-md-9 col-sm-9 col-xs-9" class="tecnica-nome">
                                                        {{ tec.nome }}
                                                    </div>
                                            </div>
                                            <div class="tecnicas-detalhes col-md-12 col-sm-12 col-xs-12" 
                                                 ng-init="(show2 = false)" 
                                                 ng-show="show2  && (tec.detalhes != '')"> 
                                                <ul>
                                                    <li ng-repeat="d in tec.detalhes" class="tecnica-detalhe">
                                                        {{ d }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>                    
                </div>
            </td>
        </tr>
        
        
        <tr>
            <td>
                 <div class="map-container">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
                        <ui-gmap-marker coords="marker.coord" icon="map.icon" idKey="1">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </td>
        </tr>
    </table>
<div>