<link rel="stylesheet" href="css/servicos.css">
<link rel="stylesheet" href="css/video.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    {{ titulo }}
                </div>      
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn row" style="min-height: 100px;">
                    <div ng-controller="PhotoSliderController" class="col-xs-12 col-sm-4 col-md-4">
                        <div class="page-collumn" ng-show="slides.length > 0">
                            <div class="container slider image-big">
                                <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                                     ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}" style="padding:0 auto">

                                <a class="arrow prev" ng-click="nextSlide()"></a>
                                <a class="arrow next" ng-click="prevSlide()"></a>
                                <nav class="nav-photo-slider">
                                    <div class="wrapper">
                                        <div class="dots">
                                            <div class="dot" ng-repeat="slide in slides">
                                                <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                                   ng-click="setCurrentSlideIndex($index);" ng-src="{{slide.image}}">
                                                    {{slide.description}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">                    
                        <div class="text" ng-bind-html="mainText">
                        </div>
                        <ul ng-repeat="item in mainList">
                            <li>{{ item.texto }}</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="text page-collumn row">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin: 10px" >
                       
                        <div ng-bind-html="video">
                        </div>
                    <!--
                        <video width="320" height="240"  
                               ng-show="conteudo[contentSelected].video[0].type=='video'"     
                               controls>
                             <source ng-src="conteudo[contentSelected].video[0].url" tyxpe="video/mp4">
                             <source ng-src="conteudo[contentSelected].video[0].url" type="video/ogg">
                         Your browser does not support the video tag.
                        </video>
                        <iframe width="320" height="240" 
                                ng-src="{{ sce.trustAsResourceUrl(conteudo[contentSelected].video[0].url) }}" 
                        </iframe>
                             <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        <video width="320" height="240"  controls controls="controls" name="Video Name" src="{{video.url | trustUrl}}">
                        </video>
                        -->        
                        <video width="480" height="360" type="video/webm" controls controls="controls" name="Video Name"
                               style="display:block;margin: 0 auto;"
                               ng-src="{{video | trustUrl}}">
                        </video>
                        <video width="480" height="360" type="video/webm" controls controls="controls" name="Video Name" style="display:block;margin: 0 auto;" src="videos/small.webm">
                    </div>
                </div>
            </td>
        </tr>
    </table>
<div>