#box-servicos{
 
    height: 250px;
    position:relative;
}

.box-servico{
    
    width: 25%;
    height: 250px;
    border: 1px solid orange;
    display: inline-block;
    float:left;
    
}

.box-servico1{
    background-color: #fef190;
}

.box-servico2{
    background-color: #ffbb40;
}

.box-servico3{
    background-color: #ff880c;
}

.box-servico4{
    background-color: #cf3401;
}

.transicao { transition: all 0.4s ease-in-out; }
.transicao-video { transition: all 0.4s ease-in-out; }

.box-servico-hover{
    
    width: 50%;
    height: 250px;
    border: 1px solid orange;
    display: inline-block;
    float:left;
}

.box-servico-nothover{
    
    width: 16.66%;
    height: 250px;
    border: 1px solid orange;
    display: inline-block;
    float:left;
    
}

.servico-video-hover{
    width: 0%;
    float:right;
    background-color: black;
    margin-top:20px;
    margin-bottom:20px;
    height: 210px;
}

.servico-video-hover{
    margin: 2%;
    width: 40%;
    float:right;
    background-color: darkblue;
}

.go-to-service{
    width: 40px;
}

.servico-text{
    padding-top:10px;
    padding-left:7%;
    float:left;
    font-size:50;
    font-weight: bold;
    color:darkblue;
    text-align: left
}

.servico-text-hover{
    width: 50%;
}

.servico-text-nothover{
    width: 100%;
}

.referencia{
    float:right;
    font-size: 14;
}


/**MAPA**/

.map-container{
    border-top: 2px solid orange;
    height: 300px;
}

.angular-google-map-container { 
    
    height: 450px; 

}

.icon-contacts{
    
    height:20px;
    
} 

.titulo-home{
    font-size: 28px;
    color:orange;
    width: 95%;
    padding-top:10px;
    padding-bottom:20px;
    padding-left:5%;
    text-align: center;
}

.section{
    overflow: hidden;
    position: relative;
}


.quemsomos-img{
    height: 100%;
    float:left;
    margin-right: 20px;
}

.tecnicas-row{
    overflow: hidden;
}

.servicos-go-to{
    width: 100%;
    height: 10px;
}

.tecnicas{
    margin-bottom:10px;
    background-clip: padding-box;
    display:inline-block; 
    border: 5px solid transparent;
    background-color: white;
    /*  width: 40%;
        margin-right:10px;
        margin-left:10px;
        float:left;
        position:relative;*/
    font-size: 20px;
}

.tecnicas-detalhes{
    margin-bottom:10px;
    margin-left 10%;
    margin-top:10px;
    width: 100%;
    font-size:17px;
    list-style-type:none;
}

.tecnica-detalhe{
    text-align: left;
}

.tecnica-nome{
    vertical-align: middle;    
}

.tecnica-main{
    display: flex;
    align-items: center;
}





.destaque-container{
   cursor: pointer;
}

.titulo-destaque{
    font-size: 24px;
    color: orange;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: lato-regular;
}

.img-destaque{
    
}

.resumo-destaque{
    text-align: justify;
    text-indent: 2em;
    border-left: -10px;
    
}

.sabermais-destaque{
    float: right;
    height: 30px;
    padding-bottom: 5px;
}



.arrow-container {
    align-items: stretch;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}


.arrow-destaque {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../assets/img/blank.gif) no-repeat;
}
/*


.arrow-container{
    align-items: stretch;
    text-align: center;
    display: inline-block;
 vertical-align: middle;
}

.arrow-destaque {
    position: absolute;
    vertical-align: middle;
    z-index: 1002;
    display: block;
    top: 50%;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}
*/


.arrow-destaque.prev {
    opacity: 0.8;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow-destaque.next {
    opacity: 0.8;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow-destaque.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow-destaque.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}
